@model WildPay.Models.ViewModels.AddExpenditureInGroup
@{
    ViewData["Title"] = "Nouvelle Dépense";
    
    ViewData["ReturnPageAction"] = "ListGroupExpenditures";
    ViewData["ReturnPageController"] = "Expenditure";
    ViewData["ReturnId"] = Model.GroupId;
}

<div>
    <partial name="_GroupTitlePartial" model="ViewBag.Group" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="ViewBag.Group" />
        <div class="col-md-9">
            <section>
                <h3>Ajouter une dépense</h3>
                <hr />
                <form method="post">
                    <input type="hidden" asp-for="@Model.GroupId" value="@Model.GroupId" /> <!-- form to send the GroupId-->
                    <!-- form to add Name of expenditure -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" asp-for="@Model.ExpenditureToCreate.Name" placeholder="ex: piquenique" />
                        <label asp-for="@Model.ExpenditureToCreate.Name">nom de la dépense</label>
                        <span asp-validation-for="@Model.ExpenditureToCreate.Name" class="text-danger"></span>
                    </div>

                    <!-- form to add Amount -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="number" asp-for="@Model.ExpenditureToCreate.Amount" placeholder="ex: 40.99" step="0.01" min="0.01" />
                        <label asp-for="@Model.ExpenditureToCreate.Amount">valeur de la dépense</label>
                        <span asp-validation-for="@Model.ExpenditureToCreate.Amount" class="text-danger"></span>
                    </div>

                    <!-- form to add Date -->
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="@Model.ExpenditureToCreate.Date" type="date" />
                        <label asp-for="@Model.ExpenditureToCreate.Date">date</label>
                        <span asp-validation-for="@Model.ExpenditureToCreate.Date" class="text-danger"></span>
                    </div>

                    <!-- form to choose Category -->
                    <div class="form-floating mb-3">
                        <select class="form-select" asp-for="@Model.CategoryId" asp-items="@(new SelectList(Model.CategoriesInGroup, "Id", "Name"))">
                            <option value="">- sélectionnez un item -</option> <!-- Placeholder -->
                        </select>
                        <label asp-for="@Model.CategoryId">Catégorie</label>
                    </div>


                    <!-- form to add Payer using a select list -->
                    <div class="form-floating mb-3">
                        <select class="form-select" asp-for="@Model.ExpenditureToCreate.PayerId" asp-items="@(new SelectList(Model.UsersInGroup, "Id", "Firstname"))"></select>
                        <label asp-for="@Model.ExpenditureToCreate.Payer">Payé par</label>
                    </div>

                    <!-- form with checkboxes to choose who participate in the expenditure -->
                    <label>Contributeurs</label>
                    <div>
                        @foreach (var user in Model.UsersInGroup)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedUsersIds" value="@user.Id" id="@user.Id" />
                                <label class="form-check-label" for="@user.Id">@user.Firstname</label>
                            </div>
                        }
                    </div>
                    <button class="w-100 btn btn-lg main-button" asp-action="AddExpenditure" asp-controller="Expenditure">Sauvegarder</button>
                </form>
            </section>
        </div>
    </div>
</div>