@using WildPay.Models.Entities
@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = "Dépenses " + Model.Name;

    ViewData["ReturnPageAction"] = "ListMyGroups";
    ViewData["ReturnPageController"] = "Group";
}

<div>
    <partial name="_GroupTitlePartial" model="Model" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="Model" />
        <div class="col-md-9">
            <section>
                <div class="card">
                    <h5 class="card-header">
                        <a class="btn btn-outline-success material-symbols-outlined" asp-action="AddExpenditure" asp-controller="Expenditure" asp-route-id=@Model.Id>add</a> Dépenses :
                    </h5>
                    @if (Model is not null && Model.Expenditures.Count != 0)
                    {
                        foreach (Expenditure expenditure in Model.Expenditures.OrderByDescending(e => e.Date))
                        {
                            <div class="card-body">
                                <h5 class="card-title"><a class="group-settings-button material-symbols-outlined" href="@Url.ActionLink("UpdateExpenditure", "Expenditure", new {groupId = Model.Id, expenditureId = expenditure.Id})">edit</a> @expenditure.Name - @expenditure.Amount.ToString("F2")€</h5>
                                @if (expenditure.Payer is not null)
                                {
                                    <p class="card-text">@expenditure.Amount.ToString("F2")€ payé par @expenditure.Payer.Firstname @expenditure.Payer.Lastname.</p>
                                }
                                else
                                {
                                    <p class="card-text">@expenditure.Amount.ToString("F2")€ payé par un ancien membre.</p>
                                }
                                <div class="card-footer text-body-secondary">@expenditure.Date.ToShortDateString()</div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-body">
                            <p class="card-text">Ce groupe ne contient aucune dépense.</p>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>