@using WildPay.Models.Entities
@model WildPay.Models.ViewModels.GroupExpenditure
@{
}

<h3>Modifier la dépense</h3>
<form method="post">
    <input type="text" asp-for="@Model.Expenditure.Id" hidden="hidden" readonly />
    <input type="text" asp-for="@Model.Group.Id" hidden="hidden" readonly />

    <label class="control-label" asp-for="@Model.Expenditure.Name">Nom</label>
    <input class="form-control" type="text" asp-for="@Model.Expenditure.Name" />
    <span asp-validation-for="@Model.Expenditure.Name" class="text-danger"></span>

    <label class="control-label" asp-for="@Model.Expenditure.Amount">Montant</label>
    <input class="form-control" type="number" asp-for="@Model.Expenditure.Amount" />
    <span asp-validation-for="@Model.Expenditure.Amount" class="text-danger"></span>

    <label class="control-label" asp-for="@Model.Expenditure.Date">Date</label>
    <input class="form-control" type="date" asp-for="@Model.Expenditure.Date" />
    <span asp-validation-for="@Model.Expenditure.Date" class="text-danger"></span>

    <label class="control-label" asp-for="@Model.Expenditure.Category">Catégorie</label>
    <select asp-for="@Model.Expenditure.Category">
        @foreach (var category in Model.Group.Categories)
        {
            if (Model.Expenditure.Category is not null && category.Id == Model.Expenditure.Category.Id)
            {
                <option value="@category" selected>@category.Name</option>
            }
            else
            {
                <option value="@category">@category.Name</option>
            }
        }
    </select>
    <span asp-validation-for="@Model.Expenditure.Category" class="text-danger"></span>


    <label class="control-label" asp-for="@Model.Expenditure.Payer">Payeur</label>
    <select asp-for="@Model.Expenditure.Payer">
        @foreach (var member in Model.Group.ApplicationUsers)
        {
            if (member.Id == Model.Expenditure.PayerId)
            {
                <option value="@member" selected>@member.Firstname @member.Lastname</option>
            }
            else
            {
                <option value="@member">@member.Firstname @member.Lastname</option>
            }
        }
    </select>
    <span asp-validation-for="@Model.Expenditure.Payer" class="text-danger"></span>

@*     @foreach (var member in Model.Group.ApplicationUsers)
    {
        if (Model.Expenditure.RefundContributors.Any(el => el.Id == member.Id))
        {
            <input type="checkbox" id="@member.Id" value="@member" checked />
            <label for="@member.Id">@member.Firstname @member.Lastname</label>
        }
        else
        {
            <input type="checkbox" id="@member.Id" value="@member" />
            <label for="@member.Id">@member.Firstname @member.Lastname</label>
        }
    } *@

    <button type="submit" asp-action="UpdateExpenditure" asp-controller="Expenditure">Sauvegarder</button>
</form>