@using WildPay.Models.Entities
@model Expenditure

<div>
    <partial name="_GroupTitlePartial" model="ViewBag.Group" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="ViewBag.Group" />
        <div class="col-md-9">
            <section>
                <h3>Modifier la dépense</h3>
                <form action='@Url.Action("UpdateExpenditure", "Expenditure", new { groupId = ViewBag.Group.Id })' method="post">

                    <input type="text" asp-for="@Model.Id" hidden="hidden" readonly />

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" asp-for="@Model.Name" placeholder="Nom de la dépense" />
                        <label class="control-label" asp-for="@Model.Name">Nom</label>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="number" asp-for="@Model.Amount" step="0.01" min="0.01" placeholder="Montant" />
                        <label class="control-label" asp-for="@Model.Amount">Montant</label>
                        <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="date" asp-for="@Model.Date" placeholder="Date" />
                        <label class="control-label" asp-for="@Model.Date">Date</label>
                        <span asp-validation-for="@Model.Date" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.GroupCategoriesSelects, "Value", "Text"), "(Aucune catégorie)", new { @class = "form-select", id = "categoryDropdown" })
                        <label for="categoryDropdown" class="form-label">Catégorie</label>
                    </div>

                    <div class="form-floating mb-3">
                        @Html.DropDownListFor(m => m.PayerId, new SelectList(ViewBag.GroupUsersSelects, "Value", "Text"), "(Aucun payeur)", new { @class = "form-select", id = "payerDropdown" })
                        <label for="payerDropdown" class="form-label">Payé par</label>
                    </div>

                    <label>Contributeurs</label>
                    <div class="custom-checkbox-container">
                        @foreach (var member in ViewBag.Group.ApplicationUsers)
                        {
                            if (Model.RefundContributors.Any(el => el.Id == member.Id))
                            {
                                <input class="custom-checkbox-input" type="checkbox" id="@member.Id" name="RefundContributors" value="@member.Id" checked />
                                <label class="custom-checkbox-label" for="@member.Id">@member.Firstname @member.Lastname</label>
                            }
                            else
                            {
                                <input class="custom-checkbox-input" type="checkbox" id="@member.Id" name="RefundContributors" value="@member.Id" />
                                <label class="custom-checkbox-label" for="@member.Id">@member.Firstname @member.Lastname</label>
                            }
                        }
                    </div>

                    <button class="btn btn-lg main-button" type="submit">Sauvegarder</button>
                </form>
                <hr />
                <a class="btn btn-danger delete-button" asp-action="DeleteExpenditure" asp-controller="Expenditure" asp-route-Id="@Model.Id"><span class="material-symbols-outlined">delete</span>Supprimer la dépense</a>
            </section>
        </div>
    </div>
</div>