@using WildPay.Models.Entities
@model Group

@{
    ViewData["Title"] = "Supprimer membre";

    ApplicationUser? user = ViewBag.user;
}

<h2>Voulez-vous vraiment supprimer @user.Firstname @user.Lastname du groupe @Model.Name ?</h2>

<form method="post">
    <button asp-action="DeleteMemberFromGroup" asp-controller="Group" asp-route-groupId="@Model.Id" asp-route-userId="@user.Id" class="btn btn-danger">Oui</button>
    <a class="btn main-button" href="@Url.ActionLink("UpdateGroup", "Group", new {Id = Model.Id })">Non</a>
</form>