@model WildPay.Models.ViewModels.UpdateGroupModel

@{
    ViewData["Title"] = "Modifier " + Model.GroupToUpdate.Name;

    ViewData["ReturnPageAction"] = "GetGroup";
    ViewData["ReturnPageController"] = "Group";
    ViewData["ReturnId"] = Model.GroupToUpdate.Id;

    // used in the partial view _AddNewMember
    ViewBag.Message = ViewBag.Message;
}
<div>
    <partial name="_GroupTitlePartial" model="Model.GroupToUpdate" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="Model.GroupToUpdate" />

        <div class="col-md-9">
            <partial name="_UpdateNameGroup" model="Model.GroupToUpdate" />
            <hr />

            <h3 class=""><span class="material-symbols-outlined">block</span> Renvoyer une personne du groupe</h3>
            <div class="list-group">
                @foreach (var user in Model.GroupToUpdate.ApplicationUsers)
                {
                    <a class="list-group-item list-group-item-action list-group-item-danger d-inline-flex justify-content-center" href="@Url.ActionLink("DeleteMemberFromGroup", "Group", new {userId = user.Id, groupId = Model.GroupToUpdate.Id})"><span class="material-symbols-outlined">delete</span> @user.Firstname @user.Lastname</a>
                }

                <hr />
                <partial name="_AddNewMemberToGroup" model="Model.NewMember" />

                <hr />
                <a class="btn btn-danger delete-button" href="@Url.ActionLink("DeleteGroup", "Group", new { Id = @Model.GroupToUpdate.Id, viewSender = "UpdateGroup" })"><span class="material-symbols-outlined">delete</span>Supprimer le groupe</a>
            </div>
        </div>
    </div>
</div>