@model WildPay.Models.ViewModels.UpdateGroupModel

@{
    ViewData["Title"] = "Modifier " + Model.GroupToUpdate.Name;

    ViewData["ReturnPageAction"] = "GetGroup";
    ViewData["ReturnPageController"] = "Group";
    ViewData["ReturnId"] = Model.GroupToUpdate.Id;

    // used in the partial view _AddNewMember
    ViewBag.Message = ViewBag.Message;
}
<div>
    <partial name="_GroupTitlePartial" model="Model.GroupToUpdate" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="Model.GroupToUpdate" />

        <div class="col-md-9">
            <partial name="_UpdateNameGroup" model="Model.GroupToUpdate" />
            <hr />

            <h3 class=""><span class="material-symbols-outlined">block</span> Renvoyer une personne du groupe</h3>
            <div class="list-group">
                @foreach (var user in Model.GroupToUpdate.ApplicationUsers)
                {
                     <form method="post">
                        <button class="list-group-item list-group-item-action list-group-item-danger d-inline-flex justify-content-center" 
                                type="submit" 
                                asp-action="DeleteMemberFromGroup" 
                                asp-controller="Group"             
                                asp-route-userId="@user.Id"
                                asp-route-groupId="@Model.GroupToUpdate.Id"  
                                onclick="return confirmDelete();">
                            <span class="material-symbols-outlined">delete</span>
                            @user.Firstname @user.Lastname
                        </button>
                    </form>
                }

                <hr />
                <partial name="_AddNewMemberToGroup" model="Model.NewMember" />

                <hr />
            </div>
            <form method="post">
                <button class="btn btn-danger delete-button" type="submit" asp-action="DeleteGroup" asp-controller="Group" asp-route-Id="@Model.GroupToUpdate.Id" onclick="return confirmDelete();">
                    <span class="material-symbols-outlined">delete</span>
                    Supprimer le groupe
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/confirmDeletion.js"></script>
}